@model Nirvana.Models.RandomActsModel
@{
    ViewBag.Title = "Add Act";
}
<html>
    <head>
        <title>Add An Act</title>
        @Styles.Render("~/Content/css");
        @Scripts.Render("~/bundles/modernizr");
    </head>
    <body>
        <form method="post" action="/Action/Create">
            <fieldset>
                <legend> Add An Act </legend>
                <div>
                    <label for="actTitle"> @Html.LabelFor(Model => Model.RandomActTitle)</label>
                    <input type="text" name="ActTitle"/>
                </div>
                <div>
                    <label for="actDescription"> @Html.LabelFor(Model => Model.RandomActDescription)</label>
                    <input type="text" name="ActDescription" />
                </div>
                <div>
                    <input type="submit" value="Submit" class="Submit" />
                </div>
            </fieldset>
        </form>
    </body>
</html>
