
<div class="row mainText">
    <h1 class="purposeTxt"> Log Your Act Below to Gain Points! </h1>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <fieldset>
            <legend> Add An Act </legend>
        </fieldset>
            <form class="form-horizontal" role="form" method="post" novalidate>
                <div class="form-group">
                    <label for="actTitle"> Act Title</label>
                    <input class="actInput form-control" type="text" name="ActTitle" ng-model="new_act.randomActTitle" />
                </div>
                <div class="form-group">
                    <label for="actDescription"> Act Description</label>
                    <input class="actInput form-control" type="text" name="ActDescription" ng-model="new_act.randomActDescription" />
                </div>
                <div class="row text-center">
                    <button class="btn btn-success" ng-click="postActs()"> Gain Karma </button>
                </div>
            </form>
        </div>
    <div class="col-md-4"></div>
</div>

