<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="row mainText">
        <h1 class="purposeTxt">Where's your Nirvana at?</h1>
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge"><h2>Points</h2></span>
                        <h2>User</h2>
                    </li>
                    <li class="list-group-item" ng-repeat="rank in allRanks track by $index">
                        <span class="badge"><h4>{{rank.Value}}</h4></span>
                        <h4>{{$index + 1}}. {{rank.Key}}</h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
