<div class="col-md-4"></div>
<div class="col-md-4">
    <form class="navbar-form navbar-left" role="search" ng-controller="searchTerm">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="leTerm" placeholder="Search Acts for Inspiration">
        </div>
    </form>
    <div ng-repeat="act in found_acts | array | filter:searchTerm">
        <div>{{act.randomActTitle}}</div>
        <div>{{act.randomActDescription}}</div>
    </div>
</div>
<div class="col-md-4"></div>