<div class="row mainText">
    <h1 class="purposeTxt">Wanna get inspired? </h1>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="leTerm" placeholder="Search Acts for Inspiration">
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div ng-repeat="act in found_acts | filter:leTerm">
            <div>{{act}}</div>
            <hr /> 
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
