<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="row mainText">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p> 
                Competition. Kindness. Can you think of a game that combines the two? 
                In this game, the point is to make the best of humanity combine with our basic 
                need for competition. Log your acts, get points, and share with friends. 
                Start your journey from Grasshopper to Nirvana today!
            </p>

            <h3 class="purposeTxt">How It Works</h3>
            <p>
                 Did you give your friend a compliment? Did you go out of your way to help that stranger get directions?
                 Log it and you gain points!

                <ol>
                    <li> Log your act by going to the Add Acts link in the navigation bar. </li>
                    <li> Comment and like other users acts to help them gain points.</li>
                    <li> As you gain points, you will increase in rank. With each increase in points, you are one step closer to attaining Nirvana</li>
                    <li> To see where you compare, go to the Leaderboard page to view the top users and see where you are</li>

                </ol>
            </p>
            <p>
                <h3 class="purposeTxt">Gameplay</h3>
                <ul>
                    <li>Levels of the Users will come with certain functionality and privileges.</li>
                    <li>Base points earned will be 3 pts.</li>
                </ul>
                <h3 class="purposeTxt"> Ranking Definitions </h3>
                <ol>
                    <li>Grasshopper (10 or less  pts earned)</li>
                    <li>Student (More than 20 pts earned)</li>
                    <li>Novice (Share on social media(v2) & more than 30 pts earned)</li>
                    <li>Apprentice (6 base pts per act & more than 40 pts earned)</li>
                    <li> Teacher(8 base pts per act & more than 60 pts earned)</li>
                    <li>Monk (12 base pts per act & more than 75 pts earned)</li>
                    <li>Elder(15 base pts per act & more than 100 pts earned)</li>
                    <li>Nirvana (20 base pts per act & more than 150 pts earned) </li>
                </ol>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
