<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p> 
                Competition. Kindness. Can you think of a game that combines the two? 
                In this game, the point is to make the best of humanity combine with our basic 
                need for competition. Log your acts, get points, and share with friends. 
                Start your journey from Grasshopper to Nirvana today!
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
