<div class="container-fluid" ng-controller="userProfileCtrl">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="row">
                <p> user profile page.</p>
                <div ng-repeat="act in things"> 
                    <div class="panel panel-success">
                        <div class="panel-heading">{{act.randomActTitle}}</div>
                        <div class="panel panel-body">
                             {{act.randomActDescription}}<br />
                             Total Likes: {{act.likes.length}}
                        </div>
                        <div class="panel panel-footer">
                            <button ng-click="isCommenting = true"> Add Comment </button>
                            <button ng-click="current_comment = true"> Show Comments </button>
                            <button> Add Like </button>

                            <div ng-show="isCommenting" class="panel panel-body">
                                <label> Comment: </label>
                                <input type="text" ng-model="comment" name="comment"/>
                                <button ng-click="postComment(act.randomActId, comment)"> Submit</button>
                            </div>
                            <div ng-show="current_comment" class="panel panel-body">
                                <div ng-repeat="comment in act.comments">
                                    <div class="panel panel-success">
                                       <div>
                                           {{comment.userComment}}<br />
                                           {{comment.user}} <br />
                                           {{ comment.date | date:"MMM d, y" }}<br />
                                       </div>
                                       <div>
                                           <button type="button" class="btn btn-info" ng-click="editingComment = true">Edit</button>
                                            <button type="button" class="btn btn-danger" ng-click="deleteComment(act.randomActId, comment.commentId)">Delete</button>
                                       </div>
                                       <div ng-show="editingComment" class="panel panel-info">
                                           <label> Comment </label>
                                           <input type="text" name="comment" ng-model="comment.userComment"/> 
                                           <button ng-click="editComment(comment.commentId, comment)" >Submit </button>
                                       </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>